<p>Bem-vindo <%= @resource.email %>!</p>

<p>Para confirmar seu e-mail acesse o link abaixo:</p>

<p><%= link_to 'Confirmar meu e-mail', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
