<p>Olá <%= @resource.email %>!</p>

<p>A alteração da sua senha foi solicitida. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Altere minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou a alteração da sua senha, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova senha.</p>

