<p id="notice"><%= notice %></p>


  <%= @site.conteudo_link.html_safe %>


<BR>


<!-- Comentado.. <%=  link_to 'Editar', edit_site_path(@site) %> | -->
<!-- Comentado.. <%=  link_to 'Voltar', sites_path %>  -->
